xsd/小精灵之路-设定集-原创技能.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="skills">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="skill">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cn" type="xs:string" />
                    <xs:element name="en" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="type">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="class" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="catagory" type="xs:string" />
              <xs:element name="power" type="xs:string" />
              <xs:element name="accuracy" type="xs:string" />
              <xs:element name="target" type="xs:string" />
              <xs:element name="PP" type="xs:string" />
              <xs:element name="effect">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="is-multi-line" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="description">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="is-multi-line" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="eff" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="visible" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>